<nav id="sidebar" class="sidebar">
  <div class="sidebar-content js-simplebar">
    <h4 class="sidebar-brand">
      <span class="align-middle mr-3">To Do List</span>
    </h4>

    <ul class="sidebar-nav">
      <li class="sidebar-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="sidebar-item">
        <a>
          <fa-icon class="mr-1" [icon]="faTasks"></fa-icon>
          <span class="align-middle">Minhas Listas</span>
          <span class="badge badge-sidebar-primary">{{ qtdListItens }}</span>
        </a>
        <ul>
          <li class="sidebar-item" *ngFor="let item of listItens">
            <a class="sidebar-link" [routerLink]="['/list/', item.id]">
              {{ item.title }}
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" [routerLink]="['/list/add']">
              <fa-icon class="mr-1" [icon]="faPlusCircle"></fa-icon> Novo
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
