@import "../../../../../assets/scss/variables";

.card {
  border-radius: 15px;
  color: #444;
  background-color: #f1f1f1;
}

#dropdownTasks {
  color: #444;
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  &::after {
    display: none;
  }
}
