@import "../../../assets/scss/variables";

#list-tasks {
  margin-bottom: 120px;
}
.card {
  border-radius: 12px;
  color: #4441a673;
  background-color: transparent;
  border: 1px solid #4441a673 !important;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: $color_200;
    background-color: #fff;
    border: 1px solid $color_200;
  }
  .card-body {
    padding: 10px;
    .card-text {
      cursor: pointer;
    }
  }
}
