<todo-modal #modal [modalConfig]="modalConfig">
  <form [formGroup]="newTasksForm" (submit)="save()">
    <div class="form-group">
      <label for="title">Título</label>
      <input
        id="title"
        formControlName="title"
        class="form-control"
        placeholder="Informe o título"
      />
      <todo-inputError
        error="A descrição é obrigatória."
        *ngIf="
          newTasksForm.get('title').invalid &&
          (newTasksForm.get('title').touched || newTasksForm.get('title').dirty)
        "
      >
      </todo-inputError>
    </div>
    <div class="form-group">
      <label for="description">Descrição</label>
      <input
        id="description"
        formControlName="description"
        class="form-control"
        placeholder="Informe a descrição"
      />
      <todo-inputError
        error="A descrição é obrigatória."
        *ngIf="
          newTasksForm.get('description').invalid &&
          (newTasksForm.get('description').touched ||
            newTasksForm.get('description').dirty)
        "
      >
      </todo-inputError>
    </div>
    <div class="float-right">
      <button
        type="button"
        class="btn btn-secundario-outline"
        (click)="dismissModal()"
      >
        Sair
      </button>
      <button
        type="submit"
        class="btn btn-principal ml-2"
        [disabled]="newTasksForm.invalid"
      >
        Criar Task
      </button>
    </div>
  </form>
</todo-modal>
