<todo-modal #modalEdit [modalConfig]="modalConfig">
  <form [formGroup]="editTasksForm" (submit)="edit()">
    <div class="form-group">
      <label tabindex="0" for="title">Título</label>
      <input
        id="title"
        formControlName="title"
        class="form-control"
        placeholder="Informe o nome da tarefa"
      />
      <todo-inputError
        error="O nome é obrigatório."
        *ngIf="
          editTasksForm.get('title').invalid &&
          (editTasksForm.get('title').touched ||
            editTasksForm.get('title').dirty)
        "
      >
      </todo-inputError>
    </div>
    <div class="form-group">
      <label tabindex="0" for="description">Descrição</label>
      <input
        id="description"
        formControlName="description"
        class="form-control"
        placeholder="Informe a descrição"
      />
      <todo-inputError
        error="A descrição é obrigatória."
        *ngIf="
          editTasksForm.get('description').invalid &&
          (editTasksForm.get('description').touched ||
            editTasksForm.get('description').dirty)
        "
      >
      </todo-inputError>
    </div>
    <div class="float-right">
      <button
        tabindex="0"
        type="button"
        class="btn btn-secundario-outline"
        (click)="dismissModal()"
      >
        Sair
      </button>
      <button
        tabindex="0"
        type="submit"
        class="btn btn-principal ml-2"
        [disabled]="editTasksForm.invalid"
      >
        Atualizar Task
      </button>
    </div>
  </form>
</todo-modal>
